# Deps
node_modules/

# Output
.svelte-kit/
build/
dist/
dist_*/
target/
.gro/
.fuz/
.zzz/

# Env
.env*
!.env.example
!.env.*.example
!.env.test
!.env.*.test

# Secrets
*.pem
id_rsa

# Ignore
*.ignore
*.ignore.*
ignore

# Temporary files
tmp/
*.tmp
.tmp*
*.bak

# Log files
*.log

# Workflow
/worktree

# Os
.DS_Store
Thumbs.db
